#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        label = "Default";

       default_layer {
            bindings = <
                &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I  &kp O  &kp P        
                // 第二行 (Row 1) - 回车键在L键右侧
                &mt LSHIFT A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp K  &kp L  &kp ENTER
                // 第三行 (Row 2) - 空格键在V和B键之间
                &mt LCTRL Z  &kp X  &kp C  &kp V  &trans &mt 1 SPACE &trans &kp B &kp N  &kp M
            >;
        };
        raise {
            bindings = <
                &kp NUMBER_1 &kp NUMBER_2 &kp NUMBER_3 &kp NUMBER_4 &kp NUMBER_5 &kp NUMBER_6 &kp NUMBER_7 &kp NUMBER_8 &kp NUMBER_9 &kp NUMBER_10        
                // 第二行 (Row 1) - 回车键在L键右侧
                &mt   &kp   &kp   &kp   &kp   &kp   &kp   &kp   &kp   &kp 
                // 第三行 (Row 2) - 空格键在V和B键之间
                &mt   &kp   &kp   &kp   &trans &kp SPACE  &trans &kp  &kp   &kp 
            >;
        };

        
        // 您可以添加更多层，例如功能层、数字层等
        /*
        function_layer {
            bindings = <
                // 功能层键位定义
            >;
        };
        */
    };
};
