#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        label = "Default";

       default_layer {
    bindings = <
        &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A
        &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A
        &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A
        &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A
        &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A

    >;
};

        
        // 您可以添加更多层，例如功能层、数字层等
        /*
        function_layer {
            bindings = <
                // 功能层键位定义
            >;
        };
        */
    };
};
